<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Admin Backend</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Services" asp-action="Index">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Images" asp-action="Index">Images</a>
                        </li> 
                        
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Nannies" asp-action="Index">Nannies</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Videos" asp-action="Index">Videos</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Reviews" asp-action="Index">Reviews</a>
                        </li> 
                         <li class="nav-item">
                            <a class="nav-link" asp-controller="Schedules" asp-action="Index">Schedules</a>
                        </li> 
                        
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Invoices" asp-action="Index">Invoices</a>
                        </li> 
                        
                        <!-- Add more menu items as needed -->
                    </ul>
                </div>
                <partial name="_loginPartial"/>

            </div>
        </nav>
    </header>
    @RenderSection("HeaderContent", required: false)
    <main class="container mt-4">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
