@model Image
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}
<h1>Image Details</h1>

<dl class="row">
    <dt class="col-sm-2">Title</dt>
    <dd class="col-sm-10">@Model.Title</dd>
    <dt class="col-sm-2">Image</dt>
    <dd class="col-sm-10">
        <img src="~/uploads/@Model.FileName" alt="@Model.Title" width="200" height="200" />
    </dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
