
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="display-4 text-danger">Access Denied</h1>
                <p class="lead text-danger">You do not have permission to access this resource.</p>
                <a class="btn btn-primary" href="/">Return to Home</a>
            </div>
        </div>
    </div>
</div>