
@{
    ViewData["Title"] = "Charge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Stripe Payment</h3>

<form action="/Payments/Charge" method="post">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_51MzTCHJfPps8qNdcbxtVDZAUxIr4oR0y2IWf4nnn6USPSoUJo4ac0dLI8j253yIuQtVMcfdbhDRlU3mg5up0EH8v00H7kc1Po6"
            data-amount="5000"
            data-name="JENJENNEWBORNCARE"
            data-description="Test charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-currency="usd">
    </script>
</form>