    @model jenjennewborncare.ViewModels.PaymentViewModel
<style>
    .form-container {
        max-width: 300px;
        margin: auto;
    }

    .btn-pink {
        background-color: #ff69b4;
        border-color: #ff69b4;
    }

        .btn-pink:hover,
        .btn-pink:focus,
        .btn-pink:active {
            background-color: #ff8bc6;
            border-color: #ff8bc6;
        }
</style>

<div class="form-container">

    <form asp-action="create-checkout-session" method="post">
        <div class="form-group">
            <label for="SelectedOption">Amount to be paid:</label>
            <input required type="number" min="1"  asp-for="SelectedOption" asp-controller="Payments" asp-action="CreateCheckoutSession" class="form-control">
            </input>
        </div>
        <div class="mt-3">

        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>