@if (!User.Identity.IsAuthenticated)
{

    @section HeaderContent
    {
    <partial name="LayoutViews/_Header" />
    }

    @section Team
    {
        <partial name="LayoutViews/_Team"/>
    } 
    
    @section Milestone
    {
        <partial name="LayoutViews/_Milestone"/>
    }
    @section Services
    {
        <partial name="LayoutViews/_Services"/>
    }
      @section Portafolio
    {
        <partial name="LayoutViews/_Portafolio"/>
    }

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
