
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*about*@

  <section>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-12 info-box mt-4 ">
                            <img src="~/images/3.jpg" alt"babies" />
                            <div>
                                <h5>Benefits of baby caring</h5>
                                <p>lorem ipsum test</p>
                            </div>


                        </div>

                            <div class="col-12 info-box mt-4 ">
                            <img src="~/images/icon1.png" alt"babies" />
                            <div>
                                <h5>Benefits of baby caring</h5>
                                <p>lorem ipsum test</p>
                            </div>


                        </div>
                        <div class="col-12 info-box mt-4">
                            <img src="~/images/icon1.png" alt"babies" />
                            <div>
                                <h5>Benefits of baby caring</h5>
                                <p>lorem ipsum test</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img class="round-image " src="~/images/about.png" alt="">
                </div>

            </div>
        </div>
    </section>