
   <div class="slider-wrapper owl-carousel owl-theme" id="hero-slider">
            <div class="slide1 min-vh-100 bg-cover d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h6 class="text-uppercase text-white"> We Care Babies</h6>
                            <h1 class="display-2 my-3 text-white text-uppercase">The Best Nannies</h1>
                            <a href="#" class="btn btn-brand">Schedule</a>
                            <a href="#" class="btn btn-outline-light ms-md-3">Services</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide2 min-vh-100 bg-cover d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h6 class="text-uppercase text-white"> We Care Babies</h6>
                            <h1 class="display-2 my-3 text-white text-uppercase">The Best Nannies</h1>
                            <a href="#" class="btn btn-brand">Schedule</a>
                            <a href="#" class="btn btn-outline-light ms-md-3">Services</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>