
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section id="milestone">
    <div class="container">
        <div class="row text-center justify-content-center gy-4">
            <div class="col-lg-2 col-sm-6">
                <h1 class="display-4">10K+</h1>
                <p class="mb-0">Happy Clients</p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h1 class="display-4">10</h1>
                <p class="mb-0">Years of Experience</p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h1 class="display-4">3K</h1>
                <p class="mb-0">Baby cares</p>
            </div>
           
        </div>
    </div>
</section>