@*services*@
@model jenjennewborncare.ViewModels.HomeViewModel
    <section id="services" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Our Services</h6>
                        <h1>What We Do?</h1>
                        <p class="mx-auto">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old
                        </p>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                @foreach (var item in Model.Services)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="~/uploads/@item.ServiceImage.FileName" alt="" class="rounded-circle">
                        <h5>@item.ServiceName</h5>
                        <p style="text-align:justify">
                            @(item.ServiceContent.Length > 118 ? item.ServiceContent.Substring(0, 118) + "..." : item.ServiceContent)



                        </p>
                    </div>
                </div>
                
            }

             
             
             
              
             
            </div>
        </div>
    </section>