@model jenjennewborncare.ViewModels.HomeViewModel
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro text-center">
                    <h6>Team</h6>
                    <h1>Our Nannies</h1>
                    <p class="mx-auto">
                        Welcome to Loving Care Nannies! We're a premier nanny agency dedicated to connecting families with compassionate, professional, and experienced nannies. Our handpicked childcare providers offer a wide range of services, including full-time, part-time, live-in, and on-call care
                    </p>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">

            @foreach (var team in Model.Nannies)
            {
                if (team.Image.Type == "Team")
                {
                    <div class="col-lg-4 col-md-8">
                        <div class="team-member">
                            <div class="image">
                                <img src="@Url.Content($"~/uploads/{team.Image.FileName}")" alt="@team.Image.Title">



                                <div class="social-icons">
                                    <a href="#"><i class='bx bxl-facebook'></i></a>
                                    <a href="#"><i class='bx bxl-twitter'></i></a>
                                    <a href="#"><i class='bx bxl-instagram'></i></a>
                                    <a href="#"><i class='bx bxl-pinterest'></i></a>
                                </div>
                                <div class="overlay"></div>
                            </div>
                            <h5>@team.Name</h5>
                            <p>@team.Description</p>
                        </div>
                    </div>
                }
            }




     @*       <div class="col-lg-4 col-md-8">
                <div class="team-member">
                    <div class="image">
                        <img src="~/images/nanni2.jpg" alt="">
                        <div class="social-icons">
                            <a href="#"><i class='bx bxl-facebook'></i></a>
                            <a href="#"><i class='bx bxl-twitter'></i></a>
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                            <a href="#"><i class='bx bxl-pinterest'></i></a>
                        </div>
                        <div class="overlay"></div>
                    </div>

                    <h5>Kathryn Murphy</h5>
                    <p>Nanny</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="team-member">
                    <div class="image">
                        <img src="~/images/nannie3.jpg" alt="">
                        <div class="social-icons">
                            <a href="#"><i class='bx bxl-facebook'></i></a>
                            <a href="#"><i class='bx bxl-twitter'></i></a>
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                            <a href="#"><i class='bx bxl-pinterest'></i></a>
                        </div>
                        <div class="overlay"></div>
                    </div>

                    <h5>Darrell Steward</h5>
                    <p>Nanny Junior</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="team-member">
                    <div class="image">
                        <img src="~/images/nannie3.jpg" alt="">
                        <div class="social-icons">
                            <a href="#"><i class='bx bxl-facebook'></i></a>
                            <a href="#"><i class='bx bxl-twitter'></i></a>
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                            <a href="#"><i class='bx bxl-pinterest'></i></a>
                        </div>
                        <div class="overlay"></div>
                    </div>

                    <h5>Darrell Steward</h5>
                    <p>Nannie Senior</p>
                </div>
            </div>
        </div>*@
    </div>
</section>