
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="container my-5">
    <!-- Service 1 -->
    <div class="row bg-custom-light rounded mb-3">
        <div class="col-md-6">
            <img src="~/images/team_1.jpg" class="img-fluid rounded service-image d-block mx-auto" alt="Service 1">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center p-4">
            <h4>Service 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="mt-auto">
            <a href="#" class="btn btn-custom mt-auto">Read more</a>

            </div>
        </div>
    </div>
    <!-- Service 2 -->
    <div class="row bg-custom-dark rounded mb-3">
        <div class="col-md-6">
            <img src="your_image_url_2" class="img-fluid rounded service-image d-block mx-auto" alt="Service 2">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center p-4">
            <h4>Service 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="mt-auto read-more-wrapper">
                <a href="#" class="btn-custom">Read more</a>
            </div>
        </div>
    </div>
    <!-- Add more services as needed -->
</div>

